.container {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    background-color: #f1e6ee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.textContainer {
    flex: 1;
    background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #ffffff 57.29%, #eef6fe 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

.settingsContainer {
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 10px;
}

.imageContainer {
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.placeholder {
    color: #666;
    font-size: 16px;
    text-align: center;
}

.generatedImageWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generatedImage {
    max-width: 100%;
    max-height: 400px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}